@import "tailwindcss";

@font-face {
  font-family: 'MantouSans';
  src: url('../assets/fonts/MantouSans-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

:root {
  --bg-dark: #020618;
  --gradient-start: #607BDA;
  --gradient-end: #B8C3F0;
  --title-purple: #5755A4;
  --mopcon-bg: #314158;
}
