<?php
return [
    'base_uri' => 'https://dev.mopcon.org/',
    '2018' => [
        'sheetKey' => '1ZF6mWynbUWIb234q5ydqpu9XolNE6CRGcwyLygGaTZ4',
        'sheetGridId' => [
            'schedule' => 'oaz88cr',
            'speaker' => 'ozg0bjp',
            'schedule-unconf' => 'oxo5gdm',
            'sponsor' => 'o6bk8rc',
            'community' => 'o95452q',
            'volunteer' => 'o2invo3',
            'carousel' => 'oc61n7p',
            'news' => 'o9dug9m'
        ]
    ]
];