@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn {
    @apply flex items-center justify-center gap-3 rounded-xl font-bold h-12 px-8 transition-all duration-150;
  }
  .btn-primary {
    @apply bg-orange text-white hover:shadow-[0_0_20px_2px_rgba(247,_144,_34,_0.6),0_0_25px_3px_rgba(255,_255,_255,_0.25),inset_0_0_20px_0_rgba(255,_255,_255,_0.6)];
  }
  .btn-secondary {
    @apply bg-[#FEF3E2] text-orange hover:shadow-[0_0_20px_2px_rgba(247,_144,_34,_0.6),0_0_25px_3px_rgba(255,_255,_255,_0.25),inset_0_0_20px_0_rgba(255,_255,_255,_0.6)];
  }
  .block-title {
    @apply font-bold text-[#161C2D] text-2xl tablet:text-[40px] leading-tight;
  }
}

@layer svg {
  .path-line {
    stroke-dasharray: var(--path-length), var(--path-length);
    stroke-dashoffset: var(--path-length);
    animation: path var(--s) linear infinite;
    animation-delay: var(--d);
  }

  @keyframes path {
    50% {
      stroke-dashoffset: 0;
    }
    100% {
      stroke-dashoffset: var(--n-path-length);
    }
  }
}
