@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn {
    @apply rounded-xl text-center px-5 py-3 font-bold;
  }
  .btn-primary {
    @apply text-white border bg-gradient-to-r from-secondary to-light-green transition-all duration-300 hover:border-secondary hover:text-secondary  hover:from-secondary/[.3] hover:to-secondary/[.3];
  }
  .btn-secondary {
    @apply text-secondary border border-secondary bg-white duration-300 hover:bg-secondary/[.3];
  }
  .block-title {
    @apply font-bold text-[#161C2D] text-[31px] tablet:text-[40px];
  }
}

@layer svg {
  .path-line {
    stroke-dasharray: var(--path-length), var(--path-length);
    stroke-dashoffset: var(--path-length);
    animation: path var(--s) linear infinite;
    animation-delay: var(--d);
  }

  @keyframes path {
    50% {
      stroke-dashoffset: 0;
    }
    100% {
      stroke-dashoffset: var(--n-path-length);
    }
  }
}
